* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	min-height: 100vh;
	background: #000000 url(img/back-img.jpg)no-repeat;
	background-position-x: center;
	background-position-y: center; 
	background-size: contain;
}

.main {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	min-height: 100vh;
	background-color: rgba(0, 0, 0, 0.7);
}

.card {
	position: relative;
	border-radius: 10px;
	width: 550px;
	height: 300px;
	perspective: 1000px;
	transform-style: preserve-3d;
	transition: all .15s;
}

.card__front, .card__back {
	position: absolute;
	inset: 0;
	width: 100%;
	height: 100%;
	backface-visibility: hidden;
	transition: all 1s;
}

.card__back {
	transform: rotateX(180deg);
}

.card:hover > .card__front {
	transform: rotateX(180deg);
}

.card:hover > .card__back {
	transform: rotateX(360deg);
}

.card__logo {
	position: absolute;
	z-index: 100;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -65%);
	width: 150px;
	height: 150px;
	overflow: hidden;
	border-radius: 50%;
	border: 3px solid #FFFFFF;
	
}

.card__logo > img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.card__head {
	width: 100%;
	height: 50%;
	overflow: hidden;
	border-radius: 10px 10px 0 0;
}

.card__head > img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.card__foot {
	width: 100%;
	height: 50%;
	overflow: hidden;
	border-radius: 0 0 10px 10px;
	display: flex;
	justify-content: space-between;
	padding: 60px 15px 20px;
	font-family: 'Inter', sans-serif;
	font-style: normal;
	font-weight: 400;
	color: #FFFFFF;
	background-color: #787878;
}

.foot__text {
	display: flex;
	flex-direction: column;
}

.foot__title {
	font-weight: 700;
	font-size: 25px;
	line-height: 30px;
	margin-bottom: 15px;
	
}

.foot__desc {
	font-size: 20px;
	line-height: 24px;
}

.foot__contacts {
	display: flex;
	flex-direction: column;
	text-align: right;
}

.foot__tel {
	font-size: 20px;
	line-height: 24px;
	text-decoration: none;
	margin-bottom: 25px;
	color: #FFFFFF;
}

.foot__mail {
	font-size: 15px;
	line-height: 18px;
	text-decoration: none;
	color: #FFFFFF;
}

.card__back {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.card__back > .card__head {
	height: 80px;
	padding: 10px;
	text-align: center;
	background-color: #787878;
	color: #FFFFFF;
}

.card__back > .card__head > .foot__title {
	margin-bottom: 5px;
}

.card__back > .card__body {
	text-align: center;
	padding: 20px 50px;
	color: #FFFFFF;
	background: #000000 url(img/card-body.png)no-repeat;
	background-size: cover;
	height: 47%;
}

.card__back > .card__foot {
	height: 80px;
	padding: 10px;
	padding: 10px 30px;
	background-color: #787878;
}

.contacts {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: unset;
	justify-content: space-between;
	align-items: center;
	list-style-type: none;
}

.contacts__item {
	text-decoration: none;
}

.contacts__item {
	width: 60px;
	height: 60px;
}

.contacts__item > a {
	display: block;
}

.contacts__item > a:hover > .icon {
	fill: #000000;
}

.icon {
	fill: #FFFFFF;
	width: 60px;
	height: 60px;
	transition: all .4s;
}